include README.md
include CONTRIBUTING.md
include SECURITY.md
include LICENSE
include NOTICE
include pyproject.toml
include setup.py

recursive-include examples *.py
recursive-include examples *.md
recursive-include docs *.md
prune tests
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
